<div class="member-snippet-container" data-name="{{name}}">
    <img class="member-img" src="{{pictureUrl}}">
    <div class="member-info">
        <div class="member-name">
            {{name}}
        </div>
        <div class="member-title">
            ({{title}})
        </div>
    </div>
</div>