<style>
    .member-info {
        padding: var(--space-md);
        gap: var(--space-s);
        display: flex;
        flex-direction: column;
        border-top: 0.5px solid var(--color-contrast);
    }
    
    .member-img {
        width: 100%;
    }

    .member-name {
        color: var(--color-contrast);
        leading-trim: both;
        text-edge: cap;
        font-family: "Helvetica Now Display";
        font-size: var(--size-h3, 26px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .member-title {
        color: var(--color-contrast);
        leading-trim: both;
        text-edge: cap;
        font-family: "Pragati";
        font-size: var(--size-label-large, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .member-snippet-container {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        border: 0.5px solid var(--color-contrast);
    }

</style>

<div class="member-snippet-container">
    <img class="member-img" src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/player-4.png?v=1757005261">
    <div class="member-info">
        <div class="member-name">
            {{name}}
        </div>
        <div class="member-title">
            ({{title}})
        </div>
    </div>
</div>