<style>
  #shopify-section-nav {
    position: fixed;
    width: 100%;
    mix-blend-mode: difference; 
  }

  .leading-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-sm) var(--space-page-margin) var(--space-xs) var(--space-page-margin);
  }

  .header-button-group {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    gap: var(--space-sm);
  }

  .contact-button {
    font-family: "Helvetica Now Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-body);
    background: transparent;
    color: var(--color-bg);
    margin: 0;
    line-height: var(--line-height-body);
    border: 1px solid var(--color-bg);
    border-radius: var(--radius-lg);
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    display: inline-block;
  }

  .donate-button {
    font-family: "Helvetica Now Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-body);
    background: var(--color-bg);
    color: var(--color-contrast);
    margin: 0;
    line-height: var(--line-height-body);
    border: 1px solid var(--color-bg);
    border-radius: var(--radius-lg);
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    display: inline-block;
  }

  .header-container p {
    width: 60%;
    text-align: center;
    color: var(--color-bg);
  }
  .hamburger-container {
    width: 20%;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    padding: 15px;
    margin-left: -10px;
  }
  .hamburger-menu-line {
    display: flex;
    width: 20px;
    height: 1.5px;
    background-color: var(--color-bg);
  }
  /* ---------------- Mobile ----------------*/
  @media (max-width: 768px) {
    .header-container p {
      display: none;
    }
  }
</style>

<header class="header-container">
  <div class="leading-nav">
    <div class="hamburger-container">
      <a class="hamburger-menu js-nav-toggler" aria-label="Toggle navigation" aria-expanded="false">
        <span class="hamburger-menu-line"></span>
        <span class="hamburger-menu-line"></span>
        <span class="hamburger-menu-line"></span>
      </a>
    </div>

    <p class="tagline">The future of brass music</p>
    <div class="header-button-group">
      <a class="contact-button">Contact</a>
      <a class="donate-button">Donate</a>
    </div>
  </div>
</header>
