<style>
  #shopify-section-nav {
    position: fixed;
    width: 100%;
    mix-blend-mode: difference; 
  }

  .leading-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-sm) var(--space-page-margin) var(--space-xs) var(--space-page-margin);
  }

  .header-button-group {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    gap: var(--space-sm);
  }

  .contact-button {
    border: 1px solid var(--color-bg);
    background: transparent;
    color: var(--color-bg);
  }
  .donate-button {
    border: 1px solid var(--color-bg);
    background: var(--color-bg);
    color: var(--color-contrast);
  }
  .header-container p {
    width: 60%;
    text-align: center;
    color: var(--color-bg);
  }
  .hamburger-container {
    width: 20%;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    padding: 15px;
    margin-left: -10px;
  }
  .hamburger-menu-line {
    display: flex;
    width: 20px;
    height: 1.5px;
    background-color: var(--color-bg);
  }
  /* ---------------- Mobile ----------------*/
  @media (max-width: 768px) {
    .header-container p {
      display: none;
    }
  }
</style>

<header class="header-container">
  <div class="leading-nav">
    <div class="hamburger-container">
      <a class="hamburger-menu js-nav-toggler" aria-label="Toggle navigation" aria-expanded="false">
        <span class="hamburger-menu-line"></span>
        <span class="hamburger-menu-line"></span>
        <span class="hamburger-menu-line"></span>
      </a>
    </div>

    <p class="tagline">The future of brass music</p>
    <div class="header-button-group">
      <button class="contact-button secondary-button rand-hover">Contact</button>
      <button class="donate-button rand-hover">Donate</button>
    </div>
  </div>
</header>
