<style>
  .page-title-section {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    margin: 0 var(--space-page-margin) var(--space-xxl) var(--space-page-margin);
  }
  .page-description {
    margin-top: var(--space-xxl);
    width: 75%;
    max-width: 900px;
  }
  .page-title {
    font-size: clamp(4rem, 8vw, 10rem);
  }

  /* ---------------- Tablet ----------------*/
  @media (max-width: 1024px) {
    .page-title-section {
      padding-top: 55px;
    }


    
  }

  /* ---------------- Mobile ----------------*/
  @media (max-width: 768px) {
    .page-title-section {
      padding-top: 75px;
    }
  }

    {% if page.metafields.custom.page_description %}
    @media (max-width: 768px) {
      .page-title-section {
        padding-top: 75px;
        height: 90vh;
        justify-content: space-between;
      }
      .page-description {
        font-size: var(--font-size-h3);
        width: 95%;
        margin-bottom: var(--space-lg);
      }
    }
    {% endif %}
</style>

<div class="page-title-section">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.metafields.custom.page_description %}
    <h2 class="page-description">{{ page.metafields.custom.page_description }}</h2>
  {% endif %}
</div>
