<style>
  .hero {
    background-image: url('https://cdn.shopify.com/s/files/1/0757/8465/0993/files/hero.png?v=1755589803');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -3.2%;
  }
  .chromatic-brass {
    display: flex;
    background-image: url('https://cdn.shopify.com/s/files/1/0757/8465/0993/files/chromatic-brass-logo.svg?v=1755589358');
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1 / span 16;
    width: calc(100vw - 120px);
    height: 70vh;
    margin-top: 6.2%;
  }
  .hero h3 {
    grid-column: 1 / span 8;
  }

  /* ---------------- EVENTS ----------------*/
  .events-section {
    margin-top: var(--space-xl);
  }
  .events-section h3 {
    grid-column: 1 / span 4;
  }
  .events-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0;
  }
  .event-card-wrapper {
    
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
  }
</style>

<main>
  <section class="hero container">
    <div class="chromatic-brass"></div>

    <h3>
      The Chromatic Brass Collective, founded by Black women, is an organization for brass musicians that celebrates,
      performs, mentors and educates in an effort to increase the visibility of racially and ethnically underrepresented
      women and gender non-conforming people throughout the brass world.
    </h3>
  </section>

  <section class="container events-section">
    <h3>Upcoming events</h3>

    <div class="events-list">
        <div class="event-card-wrapper">
            {% section 'event-card' %}
        </div>

      {% comment %} <a class="events-button" href="#events">
        <span>
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path d="M17.5 16H15.5V3.41406L1.70703 17.207L0.292969 15.793L14.0859 2H1.5V0H17.5V16Z"/>
          </svg>
        </span>
        View All
      </a> {% endcomment %}

    </div>
  </section>
</main>
