<style>
  .hero {
    background-image: url('https://cdn.shopify.com/s/files/1/0757/8465/0993/files/hero.png?v=1755589803');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .hero h3 {
    grid-column: 1 / span 8;
  }

  /* ---------------- EVENTS ----------------*/
  .events-section {
    margin-top: var(--space-xl);
  }
  .events-section h3 {
    grid-column: 1 / span 4;
  }
  #shopify-section-event-card {
    display: contents;
  }
  .events-list {
    grid-column: 5 / span 12;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0;
  }
  .event .event-list {
    width: 100%;
  }

  /* ---------------- IMG ROW 1 ----------------*/
  .image-row-1 {
    margin-top: var(--space-xl);
  }

  .img-col-2 {
    grid-column: span 2;
    width: 100%;
    height: auto;
  }
  .img-col-4 {
    grid-column: span 4;
    width: 100%;
    height: auto;
  }

  /* ---------------- Work with us ----------------*/
  .work-with-us {
    margin-top: var(--space-xl);
  }
  .work-with-us-title {
    grid-column: 1 / span 4;
  }
  .work-with-us-wrapper {
    grid-column: 5 / span 12;
  }
</style>

<main>
  <section class="hero container">

    <h3>
      The Chromatic Brass Collective, founded by Black women, is an organization for brass musicians that celebrates,
      performs, mentors and educates in an effort to increase the visibility of racially and ethnically underrepresented
      women and gender non-conforming people throughout the brass world.
    </h3>
  </section>

  <section class="container events-section">
    <h3>Upcoming events</h3>

    <div class="events-list">
      {% section 'event-card' %}

      {% comment %}
        <a class="events-button" href="#events">
          <span>
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
            >
              <path d="M17.5 16H15.5V3.41406L1.70703 17.207L0.292969 15.793L14.0859 2H1.5V0H17.5V16Z"/>
            </svg>
          </span>
          View All
        </a>
      {% endcomment %}
    </div>
  </section>

  <section class="image-row-1 container">
    <img
      class="img-col-2"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/player-1.png?v=1756771221"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >

    <img
      class="img-col-2"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/player-2.png?v=1756771221"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >

    <img
      class="img-col-2"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/group-1.png?v=1756771221"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >

    <img
      class="img-col-2"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/abstract-1.png?v=1756771220"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >

    <img
      class="img-col-4"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/group-2.png?v=1756771221"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >

    <img
      class="img-col-2"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/abstract-2.png?v=1756771220"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >

    <img
      class="img-col-2"
      src="https://cdn.shopify.com/s/files/1/0757/8465/0993/files/player-3.png?v=1756771221"
      alt="Player performing in a concert"
      width="auto"
      height="auto"
    >
  </section>

  <section class="work-with-us container">
    <div class="work-with-us-title">
      <h3>Work with us</h3>
      <p>Learn more about our mission and how you can get involved.</p>
    </div>

    <div class="work-with-us-wrapper">
    {% section 'work-with-us-card' %}
    </div>
  </section>
</main>
