<style>
/* ---------------- Article list ----------------*/

.article-wrapper {
    margin-right: var(--space-page-margin);
    margin-left: var(--space-page-margin);
    margin-top: var(--space-xl);
    grid-column: 1 / span 16;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
#shopify-section-article-card {
    display: contents;
}

</style>

<main>
    <section class="article-wrapper">

        {% section 'article-card' %}

  </section>
</main>