<style>
    .member-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-top: -1px;
        margin-left: -1px;
        row-gap: 50px;
    }

    .leaders {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .outest {
        padding-left: 60px;
        padding-right: 60px;
    }

    .members-list-title {
        color: var(--Neutral-contrast, #000);
        leading-trim: both;
        text-edge: cap;
        font-family: var(--font-body, "Helvetica Now Display");
        font-size: var(--size-h2, 40px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.2px;
        margin-bottom: 50px;
    }

    .member-snippet-container {
        display: flex;
        flex-direction: column;
        outline: 0.5px solid var(--color-contrast);
        margin-top: 1px;
        margin-left: 1px;
    }

    .member-info {
        padding: var(--space-md);
        gap: var(--space-s);
        display: flex;
        flex-direction: column;
        border-top: 0.5px solid var(--color-contrast);
    }

    .member-name {
        color: var(--color-contrast);
        leading-trim: both;
        text-edge: cap;
        font-family: "Helvetica Now Display";
        font-size: var(--size-h3, 26px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .member-title {
        color: var(--color-contrast);
        leading-trim: both;
        text-edge: cap;
        font-family: "Pragati";
        font-size: var(--size-label-large, 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .member-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
</style>

<main>
    {% section 'page-title' %}
    {% section 'members-cards' %}
    <div class="outest">
        <div class="members-list-title">
            Leadership
        </div>
        <div class="member-list leaders">
            {% render 'member-snippet', name: "Where did they go?", title: "I wonder what they're lookin at..",
            pictureUrl: "https://cdn.shopify.com/s/files/1/0757/8465/0993/files/group-1.png?v=1756771221" %}
            {% render 'member-snippet', name: "👀", title: "Not sponsored by playstation", pictureUrl:
            "https://cdn.shopify.com/s/files/1/0757/8465/0993/files/navilla.png?v=1758758249"%}
            {% render 'member-snippet', name: "Three", title: "Im tapped outta titles", pictureUrl:
            "https://cdn.shopify.com/s/files/1/0757/8465/0993/files/group-3.png?v=1757005261" %}
        </div>
    </div>
    <div class="outest">
        <div class="members-list-title">
            Members
        </div>
        <div class="member-list" id="allMembers">
            {% for member in metaobjects.member.values %}
            {% assign url = member.picture | file_url %}
            {% render 'member-snippet', name: member.name, title: member.title, pictureUrl: url %}
            {% endfor %}
        </div>
    </div>
</main>

<script>
    const members = Array.from(document.querySelectorAll("#allMembers .member-snippet-container"));
    const sorted = members.sort((a, b) => a.dataset.name.localeCompare(b.dataset.name));
    sorted.forEach(m => document.getElementById("allMembers").appendChild(m));
</script>