<style>
  #shopify-section-event-card {
    display: contents;
  }
  .events-wrapper {
    margin: 0 var(--space-page-margin);
}
  .events-list {
    grid-column: 1 / span 16;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0;
  }
  .event-controls {
    display: grid;
    margin-bottom: var(--space-md);
  }
  .search {
    grid-column: 1 / span 4;
}
  .select {
    grid-column: 13 / span 4;
}
/* ---------------- Tablet ----------------*/
  @media (max-width: 1024px) {
    .events-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column: 1 / span 16;
    }
  }

/* ---------------- Mobile ----------------*/
  @media (max-width: 768px) {
  .events-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column: 1 / span 16;
    }
  }

</style>

{% section 'page-title' %}

    <div class="event-controls container">

        <input 
        type="text"
        placeholder="Search"
        aria-label="Search events"
        class="search"
        >

        <input 
        type="text"
        placeholder="Select"
        aria-label="Select"
        class="select"
        >

    </div>

<section class="events-wrapper">

  <div class="events-list">
    {% section 'event-card' %}
  </div>

</section>

